* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body,
  html {
    height: 100%;
    font-family: "Roboto Slab", serif;
    background-color: #9d7e68;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    background-color: #443022;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    z-index: 1000;
  }

  .links {
    display: flex;
    margin-left: auto;
    gap: 1rem;
    font-size: large;
  }

  .links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
  }

  section {
    height: 100vh;
    padding: 50px 20px;
    color: white;
    text-align: center;
  }

  section:nth-child(odd) {
    background-color: #9d7e68;
  }

  section:nth-child(even) {
    background-color: #c1ad9e;
  }

  .background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .background-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 10;
  }

  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .hamburger {
    display: none;
    cursor: pointer;
    margin-left: auto;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
  }

  .section-title {
    font-size: 3em;
    margin-bottom: 20px;
  }

  .mobile-nav {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .mobile-nav a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .section-div {
    display: flex;
    align-items: center; 
    gap: 20px; 
  }

  .section-div  * {
    padding: 20px;
  }
  
  .section-img {
    flex-shrink: 0; 
  }
  
  .section-text {
    flex-grow: 1; 
    text-align: justify; 
    font-size: x-large;
  }

  .map {
    border: 0;
    width: 600px;
    height: 450px;
    padding: 15px;
  }

  .footer-text {
    text-align: center;
    padding: 20px;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 3em;
    }

    nav {
      display: flex;
      justify-content: center;
    }
    
    .links {
        display: none;
      }

    .hamburger {
      display: flex;
    }

    .mobile-nav {
      display: none;
    }

    .mobile-nav.active {
      display: flex;
    }

    .section-div {
      flex-direction: column; 
      text-align: center; 
    }

    .section-img {
      width: 100%; 
    }

    .section-text {
      text-align: left; 
      font-size: large;
    }

    .map {
      width: 100%;
    }
  }


  